<?xml version="1.0"?>
<robot name="alorit" xmlns:xacro="http://ros.org/wiki/xacro">
    <link name="base_link">
        <collision>
        <geometry>
            <box size = "0.25 0.35 0.03"/>
        </geometry>
        </collision>
    </link>

    <link name="layer_1">
        <collision>
        <geometry>
            <box size = "0.25 0.35 0.03"/>
        </geometry>
        </collision>
    </link>

    <link name="imu_link">
        <collision>
        <geometry>
            <box size = "0.25 0.35 0.03"/>
        </geometry>
        </collision>
    </link>

    <link name="left_wheel">
        <collision>
        <geometry>
            <box size = "0.25 0.35 0.03"/>
        </geometry>
        </collision>
    </link>

    <link name="right_wheel">
        <collision>
        <geometry>
            <box size = "0.25 0.35 0.03"/>
        </geometry>
        </collision>
    </link>
</robot>