<?xml version="1.0"?>
<launch>
    <arg name="file_name" default="imu_ekf.yaml"/>
    <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization">
        <rosparam file="$(find robot_ekf)/config/$(arg file_name)" command="load"/>
    </node>
    <include file="$(find robot_description)/launch/tf_trans.launch"/>
    <include file="$(find robot_odometry)/launch/robot_odometry.launch"/>
    <!-- Assuming robot_odometry doesn't publish tf transform -->
    <include file="$(find robot_visualization)/launch/view_map.launch"/>
</launch>